{% extends 'base.html' %} {% load bootstrap3 %} {% block create %} {% if user.real_user.is_owner %}
<li role="presentation">
    <a href="{% url 'create_goods' shop.id %}">创建商品</a>
</li>
{% endif %} {% endblock %} {% block search %}
<li role="presentation">
<form method="post" action="{% url 'search' shop.id %}" style="float:left">
    {% csrf_token %}
    <div class="form-group" style="display:inline-block;margin-bottom:0">
        <label for="search" style="float:left;padding-top:7px">请输入搜索关键词：
        </label>
        <input type="text" id="search" name="search" class="form-control" placeholder="Keywords" required style="float:left;width:200px"/>
        <button type="submit" class="btn btn-primary">GO
        </button>
    </div>
</form>
</li>
{% endblock %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{ shop.name}}</h3>
        <small>
{% bootstrap_icon 'user' %}<strong>{{ shop.owner.ori_user }}</strong>
{% bootstrap_icon 'time' %}<span>{{ shop.created_at}}</span>
</small>
    </div>
    <div class="panel-body word-wrap">
        {{ shop.introduction }}
    </div>
    <div class="panel-footer"></div>
</div>
<ul class="list-group">
    <li class="list-group-item">{{ shop.goods.count}}件商品</li>
    {% for goods in shop.goods.all %}
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品名：<a href="{% url 'goods' goods.id %}">{{ goods.name }}</a></div>
        <div class="word-wrap">商品价格：{{ goods.price }}</div>
        <div class="word-wrap">商品简介：{{ goods.introduction }}</div>
        <div class="word-wrap">商品类型：{% for key in goods.keywords.all %}{{ key.name }},{% endfor %}</div>
        <div class="pull-right">
            {% bootstrap_icon 'user' %}<b>{{ shop.owner.ori_user}}</b>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
