{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block content %}

<h3>新订单</h3>
<table class="table">
    <tbody>
        {% for item in remittance.all %}
        <tr>
            <td>
            <a href = "{% url 'goods' item.goods.id %}">
            {{ item.goods.name }}</a>
            </td>
            <td>
            <p>数量：{{ item.number }}</p>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<div>
    <form method="post" action="{% url 'remittance' shop.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="phone">联系方式
        </label>
        <input type="text" id="phone" name="phone" class="form-control" placeholder="手机或其他联系方式" required />
    </div>
    <div class="form-group">
        <label for="address">送货地址
        </label>
        <input type="text" pattern="[1-9][0-9]*" id="address" name="address" class="form-control" placeholder="请输入精确的地址以方便派送" required />
    </div>
    <div class="form-group">
        <label for="message">留言
        </label>
        <input type="text" id="message" name="message" class="form-control" placeholder="有特殊的要求可在此处给卖家留言" required />
    </div>
    {% buttons submit='提交' %}{% endbuttons %}
    </form>
</div>

<form method="post" action="{% url 'pay' remittance.id %}">{% csrf_token %}
    <button type="submit" class="btn btn-primary" title="点击此处前往付款界面">
    付款
    </button>
</form>
{% include 'base/messages.html' %}
{% endblock %}
