{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block content %}

<h3>新订单</h3>
{% for shop in shops %}
<h5>店铺{{shop.name}}</h5>
<table class="table">
    <tbody>
        {% for item in user.real_user.shoppingCart.all %}
        {% if item.goods.shop == shop %}
        <tr>
            <td>
            <a href = "{% url 'goods' item.goods.id %}">
            {{ item.goods.name }}</a>
            </td>
            <td>
            <p>数量：{{ item.number }}</p>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
    </tbody>
</table>
<div>
    <form method="post" action="{% url 'create_remittance_shop' shop.id %}">
    {% csrf_token %}
    <div class="form-group">
        <label for="phone">联系方式
        </label>
        <input type="text" id="phone" name="phone" class="form-control" placeholder="手机或其他联系方式" required />
    </div>
    <div class="form-group">
        <label for="address">送货地址
        </label>
        <input type="text" id="address" name="address" class="form-control" placeholder="请输入精确的地址以方便派送" required />
    </div>
    <div class="form-group">
        <label for="message">留言
        </label>
        <input type="text" id="message" name="message" class="form-control" placeholder="有特殊的要求可在此处给卖家留言" required />
    </div>
    <button type="submit" class="btn btn-primary">提交订单</button>
    </form>
    <hr>
</div>
{% endfor %}

{% include 'base/messages.html' %}
{% endblock %}
