{% extends 'base/homepage_base.html' %} {% load bootstrap3 %} {% block sidebar %}
<h4>买家中心</h4>
<ul class="nav nav-sidebar">
    <li><a href="{% url 'user_info' %}">个人信息</a></li>
    <li><a href="{% url 'remittances' %}">所有订单</a></li>
    <li><a href="{% url 'finished_remittances' %}">已完成订单</a></li>
    <li><a href="{% url 'to_receive_remittances' %}">待收货订单</a></li>
    <li><a href="{% url 'to_evaluate_remittances' %}">待评价订单</a></li>
</ul>
<h4>卖家中心</h4>
<ul class="nav nav-sidebar">
    <li><a href="{% url 'my_shop' %}">我的店铺</a></li>
</ul>
{% endblock %}