{% extends 'seller/shop_homepage.html' %}
{% load bootstrap3 %}
{% block homepage_content %}
<h2>商品信息</h2>
<form method="post" enctype="multipart/form-data" action="{% url 'save_goods_info' goods.id %}" style="float:left">
    <ul class="list-group">
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                {% bootstrap_icon 'home' %}{{ goods.name }}
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="word-wrap">
                <table class="table" style="margin-bottom:0">
                    <tbody>
                        <tr>
                            <td style="border-top:0">
                                {% csrf_token %}
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="name" style="float:left;padding-top:7px">名称：
                                    </label>
                                    <input type="text" id="name" name="name" class="form-control" placeholder="输入修改的商品名" value="{{ goods.name }}" required style="float:left;width:400px" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                {% csrf_token %}
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="price" style="float:left;padding-top:7px">价格：
                                    </label>
                                    <input type="number" id="price" name="price" class="form-control" value="{{ goods.price }}" required style="float:left;width:400px" />
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-group" style="display:inline-block;margin-bottom:0">
                                    <label for="introduction" style="float:left;padding-top:7px" >商品简介：
                                    </label>
                                    <textarea id="introduction" name="introduction" class="form-control" required style="float:left;width:370px"></textarea>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </li>
        <li class="list-group-item clearfix">
            <div class="pull-right">
                <button type="submit" class="btn btn-primary">确认</button>
            </div>
        </li>
    </ul>
</form>
{% endblock %}
