{% extends 'customer/homepage.html' %} {% load bootstrap3 %} {% block homepage_content %}
<h2>我的店铺</h2>
<ul class="list-group">
    {% for shop in shops %}
    <li class="list-group-item clearfix">
        <a href="{% url 'shop_homepage' shop.id %}">{{shop.name}}</a> 
        <div class="pull-right">{% bootstrap_icon 'user' %}<b>{{shop.owner.ori_user}}</b> {% bootstrap_icon 'time' %}{{shop.created_at}}</div>
    </li>
    {% endfor %}
    <li class="list-group-item clearfix">
        <div class="pull-right"><a href="{% url 'create_shop' %}">创建店铺</a></div>
    </li>
</ul>
{% endblock %}

