{% extends 'seller/shop_homepage.html' %} {% load bootstrap3 %} {% block homepage_content %}
<ul id="myTab" class="nav nav-tabs">
    <li class="active">
        <a href="#all" data-toggle="tab">
             所有订单
        </a>
    </li>
    <li><a href="#finished" data-toggle="tab">已完成订单</a></li>
    <li><a href="#to_trans" data-toggle="tab">待发货订单</a></li>  
</ul>
<div id="myTabContent" class="tab-content">
    <div class="tab-pane fade in active" id="all">
        <table class="table">
            <tbody>
            {% for remittance in remittances %}
                <tr>
                    <td><a href="{% url 'shop_remittance' shop.id remittance.id %}">订单{{remittance.id}}</a></td>
                    <td>{{remittance.get_status_display}}
                    <td>总价：¥{{remittance.price}}</td>
                    <td>时间：{{remittance.created_at}}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="finished">
        <table class="table">
            <tbody>
            {% for remittance in remittances %}
            {% if remittance.status == 'e' or  remittance.status == 'r' %}
                <tr>
                    <td><a href="{% url 'shop_remittance' shop.id remittance.id %}">订单{{remittance.id}}</a></td>
                    <td>{{remittance.get_status_display}}
                    <td>总价：¥{{remittance.price}}</td>
                    <td>时间：{{remittance.created_at}}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="tab-pane fade" id="to_trans">
        <table class="table">
            <tbody>
            {% for remittance in remittances %}
            {% if remittance.status == 'c' %}
                <tr>
                    <td><a href="{% url 'shop_remittance' shop.id remittance.id %}">订单{{remittance.id}}</a></td>
                    <td>{{remittance.get_status_display}}
                    <td>总价：¥{{remittance.price}}</td>
                    <td>时间：{{remittance.created_at}}</td>
                </tr>
            {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
    
</div>
{% endblock %}
