{% extends 'seller/shop_homepage.html' %}
{% load bootstrap3 %}
{% block homepage_content %}
<h3>订单详情</h3>
<table class="table">
    <tbody>
        {% for remittance in shop.remittances.all %}
        {% if remittance.status == 'c' %}
        <tr>
            <td>
                <ul class="list-group">
                    <form method="post" action="{% url 'shop_confirm_remittance' remittance.id %}" >
                    {% csrf_token %}
                    <li class="list-group-item">{{ remittance.remittance_items.count }}种商品</li>
                    {% for item in remittance.remittance_items.all %}
                    <li class="list-group-item clearfix">
                        <div class="word-wrap">商品名：{{ item.goods.name }}</div>
                        <div class="word-wrap">总价格：{{ item.goods.price }}</div>
                        <div class="word-wrap">商品类型：{% for key in item.goods.keywords.all|dictsort:"name" %}[ {{ key.name }} ] {% endfor %}</div>
                    </li>
                    {% endfor %}
                    <li class="list-group-item" style="height:56px"><button type="submit" class="btn btn-primary pull-right">发货</button></li></form>
                </ul>
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        <tr>
        <td></td><td></td><td>总价：¥{{remittance.price}}</td>
        </tr>
    </tbody>
</table>

<h4>详细信息</h4>
<table class="table">
    <tbody> 
        <tr><td>订单状态：{{remittance.get_status_display}}</td></tr>
        <tr><td>联系方式：{{remittance.phone}}</td></tr>
        <tr><td>支付方式：{{remittance.get_payment_display}}</td></tr>
        <tr><td>地址：{{remittance.address}}</td></tr>
        <tr><td>留言：{{remittance.message}}</td></tr>
    </tbody>
</table>


{% if remittance.status == 0 %}
    <button type="button" class="btn btn-primary"
            onclick="">
    发货
    </button>
{% endif %}
{% endblock %}
