{% extends 'seller/shop_homepage.html' %} {% load bootstrap3 %} {% block homepage_content %}
<h2>店铺商品</h2>
<ul class="list-group">
    <li class="list-group-item">{{ shop.goods.count }}件商品<a class="pull-right" href="{% url 'create_goods' shop.id %}">创建商品</a></li>
    {% for goods in shop.goods.all|dictsort:"price" %}
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品名：<a href="{% url 'goods' goods.id %}">{{ goods.name }}</a></div>
        <div class="word-wrap">商品价格：{{ goods.price }}</div>
        <div class="word-wrap">商品简介：{{ goods.introduction }}</div>
        <div class="word-wrap">商品类型：{% for key in goods.keywords.all|dictsort:"name" %}[ {{ key.name }} ] {% endfor %}</div>
        <div class="pull-right">
            {% bootstrap_icon 'user' %}<b>{{ shop.owner.ori_user }}</b>
        </div>
    </li>
    <li class="list-group-item clearfix">
        <div class="pull-right">
        <a href="{% url 'change_goods_info' goods.id %}">修改商品信息</a>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
