{% extends 'seller/shop_homepage.html' %} {% load bootstrap3 %} {% block homepage_content %}
<h2>店铺订单</h2>
<table class="table">
    <tbody>
        {% for remittance in remittances %}
        <tr>
            <td>
            <a href = "{% url 'shop_remittance' remittance.shop.id remittance.id %}">
                订单编号 {{remittance.id}}
            </a>
            </td>
            <td>
                {{remittance.get_status_display}}
            </td>
            <td>
            创建时间 {{remittance.created_at}}
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
