{% extends 'base/base.html' %} {% load bootstrap3 %} {% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        <h3>{{ goods.name }}</h3>
        <small>
{% bootstrap_icon 'user' %}<strong>{{ goods.shop.owner.ori_user}}</strong>
</small>
    </div>
    <div class="panel-footer"></div>
</div>
<ul class="list-group">
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品名：{{ goods.name }}</div>
    </li>
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品价格：{{ goods.price }}</div>
    </li>
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品简介：{{ goods.introduction }}</div>
    </li>
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品评分：{{ goods.score }}</div>
    </li>
</ul>
<form name="goods_number" method="post">{% csrf_token %}
    <div class="form-group">
        <label for="number">数量</label>
        <input value="1" title="请输入购买量" name="number" type="number" min="1" max="999" required />
        <strong>件</strong>
    </div>
    <div class="panel panel-default">
        <button type="button" class="btn btn-primary" title="点击此处进一步确认购买信息" onclick="create_remittance()">
            立即购买
        </button>
        <button type="button" class="btn btn-primary" onclick="addtocart()">
            加入购物车
        </button>
    </div>
</form>
<h2>商品评价：</h2>
<table class="table">
    <tbody>
        {% for item in finished_items.all %}
        <tr>
            <td>
                <ul>
                    <li class="list-group-item">评分：{{ item.comment.score }}</li>
                    <li class="list-group-item">评价详情：{{ item.comment.content }}
                    </li>
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<script type="text/javascript">
function addtocart() {
    document.goods_number.action = "{% url 'addtocart' goods.id %}";
    document.goods_number.submit();
}

function create_remittance() {
    document.goods_number.action = "{% url 'create_remittance_goods' goods.id %}";
    document.goods_number.submit();
}
</script>
<hr> {% include 'base/messages.html' %} {% endblock %}
