{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block content %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <h4>买家信息</h4>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'user_info' real_user.id %}">个人信息</a></li>
            <li><a href="{% url 'remittances' real_user.id %}">我的订单</a></li>
          </ul>
          {% if real_user.is_owner %}
          <h4>卖家信息</h4>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'my_shop' real_user.id %}">我的店铺</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'shop_remittance' real_user.id %}">店铺订单</a></li>
          </ul>
          {% endif %}
        </div>
        <div class="col-sm-9 col-md-10 main">
          {% block homepage_content %}{% endblock %}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endblock %}
