{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% block content %}
{% if user.is_authenticated %}

    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li><a href="{% url 'user_info' %}">个人信息</a></li>
            <li><a href="{% url 'remittances' %}">我的订单</a></li>
            <li><a href="{% url 'create_shop' %}">创建店铺</a></li>
          </ul>
        </div>
        <div class="col-sm-9 col-md-10 main">
          {% block homepage_content %}{% endblock%}
        </div>
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

{% endif %}
{% endblock %}
