{% extends 'base/base.html' %} {% load bootstrap3 %} {% load humanize %}
{% block create_shop %}
{% if user.real_user.is_owner %}
<li role="presentation">
    <a href="{% url 'create_shop' %}">创建店铺</a>
</li>
{% endif %}
{% endblock %}

{% block search %}
<h5>&nbsp</h5>
<form method="post" action="{% url 'search' %}" style="margin:auto;width:400px">
    {% csrf_token %}
    <div class="form-group" style="display:inline-block;margin-bottom:0">
        <label for="search" style="float:left;padding-top:7px">请输入搜索关键词：
        </label>
        <input type="text" id="search" name="search" class="form-control" placeholder="Keywords" required style="float:left;width:200px"/>
        <button type="submit" class="btn btn-primary">GO
        </button>
    </div>
</form>

{% endblock %}

{% block content %}
<h3>&nbsp</h3>
<table class="table">
    <tbody>
        {% for shop in shops %}
        <tr>
            <td>
                <div class="col-sm-3 col-md-2 sidebar">
                    {% if shop.photo %}
                    <img src="{{ shop.photo.url }}" width="110px" height="110px">
                    {% endif %}
                </div>
                <div class="col-sm-9 col-md-10 main">
                    <p>店铺名：<a href="{% url 'shop' shop.id %}">{{shop.name}}</a></p>
                    <p>店铺简介：{{shop.introduction}}</p>
                    <p>地址：{{shop.address}}</p>
                    <p>销量：{{shop.sales}}</p>
                </div>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
