{% extends 'base/base.html' %}
{% load bootstrap3 %}
{% load humanize %}
{% block create_goods %}
    {% if user.real_user.is_owner and shop.owner == user.real_user %}
        <li role="presentation">
            <a href="{% url 'create_goods' shop.id %}">创建商品</a>
        </li>
    {% endif %}
{% endblock %}

{% block content %}
<div class="panel panel-default">
    <div class="panel-heading">
        {% if shop.photo %}
        <img src="{{ shop.photo.url }}" width="100px" height="100px">
        {% endif %}
        <h3>{{ shop.name}}</h3>
        <small>
{% bootstrap_icon 'user' %}<strong>{{ shop.owner.ori_user }}</strong>
{% bootstrap_icon 'time' %}<span> {{ shop.created_at | naturaltime}}</span>
</small>
    </div>
    <div class="panel-body word-wrap">
        {{ shop.introduction }}
    </div>
    <div class="panel-footer"></div>
</div>
<ul class="list-group">
    <li class="list-group-item">{{ shop.goods.count }}件商品</li>
    {% for goods in shop.goods.all|dictsort:"price" %}
    <li class="list-group-item clearfix">
        <div class="word-wrap">商品名：<a href="{% url 'goods' shop.id goods.id %}">{{ goods.name }}</a></div>
        <div class="word-wrap">商品价格：{{ goods.price }}</div>
        <div class="word-wrap">商品简介：{{ goods.introduction }}</div>
        <div class="word-wrap">商品类型：{% for key in goods.keywords.all|dictsort:"name" %}[ {{ key.name }} ] {% endfor %}</div>
        <div class="word-wrap">商品评分：{{ goods.score }}</div>
        <div class="pull-right">
            {% bootstrap_icon 'user' %}<b>{{ shop.owner.ori_user }}</b>
        </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
