{% extends 'customer/homepage.html' %}
{% load bootstrap3 %}

{% block homepage_content %}
<h2>个人信息</h2>
<ul class="list-group">
    <li class="list-group-item clearfix">
        <div class="word-wrap">
        {% if user.real_user.photo %}
            <img src="{{ user.real_user.photo.url }}" width="100px" height="100px">
        {% endif %}
        {% bootstrap_icon 'user' %}{{ user.username }}
        </div>
    </li>
    <li class="list-group-item clearfix">
        <div class="word-wrap">
        <table class="table" style="margin-bottom:0">
            <tbody>
                <tr>
                    <td style="border-top:0">昵称：{{ real_user.nickname }}
                    </td>
                </tr>
                <tr>
                    <td>性别：{% if real_user.gender %}男{% else %}女{% endif %}
                    </td>
                </tr>
                <tr>
                    <td>年龄：{{ real_user.age }}
                    </td>
                </tr>
                <tr>
                    <td>邮件地址：{{ real_user.email }}
                    </td>
                </tr>
            </tbody>
        </table>
        </div>
    </li>
    <li class="list-group-item clearfix">
        <div class="pull-right">
        <a href="{% url 'change_user_info' %}">修改个人信息</a>
        </div>
    </li>
</ul>
{% endblock %}
